### Node ###
# Logs
logs
*.log
npm-debug.log*
package-lock.json
node_modules/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/

### Webstorm ##
.idea/
