$logoOneColor: #173F5F;
$logoOneColorRGBA: rgba(23,63,95,0.9);
$logoTwoColor: #20639B;
$logoThreeColor: #3CAEA3;
$logoFourColor: #F6D55C;
$logoFiveColor: #ED553B;
$containerBgColor: #F9F9F9;
$appFontColor: #808080;
$buttonFontColor: white;
$pageFontColor: black;
